* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  background-color: aqua;
}
.headline {
  width: 100%;
  background-color: pink;
  display: flex;
  justify-content: flex-end;
  padding: 30px 20px;
}
.headline > :first-child {
  margin-right: auto;
}
.head-content {
  background-color: palevioletred;
  flex-basis: 140px;
  height: 70px;
  margin: 0 10px;
}

.big-flex {
  display: flex;
  justify-content: center;
}
.sub-flex {
  width: 300px;
  background-color: brown;
}
.main-flex {
  max-width: 700px;
  flex-grow: 1;
  background-color: blueviolet;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 20px;
}

.main-flex-content {
  margin: 10px;
  background-color: aqua;
  flex-basis: 200px;
  height: 130px;
}

footer {
  width: 100%;
  background-color: chartreuse;
  padding: 20px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.footer-content {
  background-color: antiquewhite;
  flex-basis: 45%;
  height: 40px;
  margin: 10px;
  max-width: 600px;
}
